Index:
  Background: Build
  StandardLibrary: Yes

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None

  ClangTidy:
    Add: [
      performance-*,
      modernize-*,
      clang-analyzer-*,
      readability-*,
    ]

    Remove: [
      readability-isolate-declaration,
      readability-identifier-length,
      readability-magic-numbers,
      readability-function-cognitive-complexity,
      readability-redundant-access-specifiers,
      modernize-avoid-c-arrays,
      readability-math-missing-parentheses,
    ]

CompileFlags:
  Add: 
    - -Wall
    - -Wextra
  Remove:
    - -ccbin
    - -forward-unknown-to-host-compiler
    - --generate-code*
    - -arch*
    - -rdc=true
    - -Xcudafe
    - --diag_suppress=*
    - --expt-relaxed-constexpr
    - --expt-extended-lambda
    - -Xcompiler*
    - -fmodules*
    - -fmodule-mapper*
    - -fdeps-format*

---

If:
  PathMatch: [.*\.cu, .*\.cuh]
CompileFlags:
  Add: 
    - --cuda-gpu-arch=sm_89
